<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit et magnam assumenda optio voluptates voluptas
            accusantium perspiciatis ratione. Necessitatibus minus quisquam est totam placeat libero provident nobis
            sapiente cupiditate odit.</p>
    </div>
</section>